/* this is for..... */
*{box-sizing: border-box;}
.col2{width: 50%;}
.col3{width: 33.3333%;}
.col32{width: 66.66%;}
.col4{width: 25%;}
.col43{width: 75%;}
.col5{width: 20%;}
.col54{width: 80%;}

.rectangle{
	background:#2e3333;
	width: 100%;
	clear: both;
	padding: 5px;
	height:200px;
	position:relative;

	

}
.rectangle footer{
	width:1280px;
	text-align:center;
	margin:0 auto;
	color:white;
	
	
}
.column{
	float: left;
    min-height: 50px;
	margin-bottom: -4px; /* this is needed for inline-block bug */
	
}
body{
	width:100%;
	margin:0;
}

img{
	width:100%;
	height:auto;
}
nav{
	height:auto;
	width:100%;
	background:turquoise;
	margin:0 auto;
	float:left;
	
}
nav a{
	display:inline-block;
	color:black;
	margin:10px;
	padding:5px;
	text-decoration:none;
	font-size:20px;
	
	
}
nav a:hover{
	color: white;
	height:100%;
	
}
@media screen and (max-width: 600px){
	nav a{
		display:block;
	
		}
	nav a:hover{
		background: red;
		}
	nav{
		width:100%;
		}
	img{
		display:none;
		}
	body{
		background-image: url("a.jpg");
		}
	
	
}
article{
	width:100%;
	height:auto;
	background: turquoise;
	padding: 10px;
	/* margin: 0 auto; */
	color: white;
}
article img{
	margin-right: 20px;
	
}
section.a2 article{
  display: inline-block;
  background:white;
}
section.a2 img{
	float:right;
	
}
section.a2{
	width: 100%;
	margin: 0 auto;
	
}
article img{
	width:700px;
	float:left;

}

div.clear{
	clear: both;
}
div{
	padding:5px;
}
p{
	font-size:100px;
	color:black;
	padding:10px;
	font-family: 'Oswald', sans-serif;
	margin:40px;
}
p.first{
	margin:0;
}

ul{
	list-style:none;
	
}
i{
	padding:5px;
}
